/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: none;
}

:root {
  --primary-color: #495af7;
  --secondary-color: #fff;
  --text-color: #fff;
  --input-color: #000;
  --light-grey: #f5f5f5;
  --pending-color: #b7e4ec;
  --pending-text-color: #0c6047;
  --error-color: #ffc1c5;
  --error-text-color: #631920;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--primary-color);
  color: var(--text-color);
}

::selection {
  color: #fff;
  background: var(--primary-color);
}

.wrapper {
  position: absolute;
  width: 90%;
  background: #fff;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: -110px;

}

.wrapper header {
  display: flex;
  font-size: 21px;
  font-weight: 500;
  color: var(--text-color);
  padding: 16px 15px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

header i {
  font-size: 0em;
  cursor: pointer;
  margin-right: 8px;
  
}

.wrapper.active header i {
  margin-left: 5px;
  font-size: 30px;
}

.wrapper .input-part {
  margin: 20px 25px 30px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper.active .input-part {
  display: none;
}

.input-part .info-txt {
  display: none;
  font-size: 17px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 7px;
  margin-bottom: 15px;
}

.input-part .info-txt.error {
  color: var(--error-text-color);
  display: block;
  background: var(--error-color);
  border: 1px solid #f5c6cb;
}

.input-part .info-txt.pending {
  color: var(--pending-text-color);
  display: block;
  background: var(--pending-color);
  border: 1px solid #bee5eb;
}

.input-part :where(input, button) {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 10px;
}

.input-part input {
  text-align: center;
  padding: 0 15px;
  border: 2px solid #000000d5;
  background-color: #fff;
  transition: ease-in-out 0.2s;
}

.input-part input:active{
  transform: translateY(9px);
  transition: ease-in-out 0.1s;
}

.input-part input:is(:focus, :valid) {
  border: 2px solid var(--primary-color);
}

.input-part input::placeholder {
  color: rgb(24, 24, 24) !important;
}


.input-part .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator::before {
  content: "or";
  color: var(--light-grey);
  font-size: 19px;
  padding: 0 15px;
  border-radius: 20px;
}

.input-part button {
  color: var(--text-color);
  cursor: pointer;
  background: var(--primary-color);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  transition: 0.3s ease;
}

.input-part button:hover {
  transform: scale(1.03);
}

.wrapper .weather-part {
  display: none;
  margin: 30px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wrapper.active .weather-part {
  display: flex;
}

.weather-part img {
  max-width: 125px;
}

.weather-part .temp {
  display: flex;
  font-weight: 500;
  font-size: 72px;
}

.weather-part .temp .numb {
  font-weight: 600;
}

.weather-part .temp .deg {
  font-size: 40px;
  display: block;
  margin: 10px 5px 0 0;
}

.weather-part .weather {
  font-size: 21px;
  text-align: center;
  margin: -5px 20px 15px;
}

.weather-part .location {
  display: flex;
  font-size: 19px;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 30px;
  align-items: flex-start;
}

.location i {
  font-size: 22px;
  margin: 4px 5px 0 0;
}

.weather-part .bottom-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.bottom-details .column {
  display: flex;
  width: 100%;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
}

.column i {
  color: var(--secondary-color);
  font-size: 40px;
}

.column.humidity {
  border-left: 1px solid #ccc;
}

.column.wind {
  border-left: 1px solid #ccc; 
}

.column.date-time {
  border-left: 1px solid #ccc;
  padding: 20px;
 
}

.column .details {
  margin-left: 3px;
}

.details .temp,
.humidity span {
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
}

.details .temp .deg {
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
}

.column .details p {
  font-size: 14px;
  margin-top: -6px;
}

.humidity i {
  font-size: 37px;
}

/* COLOR PALETTE */
.color-palette {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 30px;
  padding: 8px;
  text-align: center;
}

.color-palette .theme-color {
  background-color: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.color-palette .theme-color:not(:last-child) {
  margin-bottom: 10px;
}

/* DARK MODE */
.dark-mode {
  position: absolute;
  top: 12px;
  right: 12px;
  background: rgba(255, 255, 255, 0.144);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;

  padding: 8px 13px;
  border: 1px solid rgba(255, 255, 255, 0.18);
   transition: ease-in-out 0.3s ;
}

.dark-mode:hover{
  transform: translateY(10px);
  transition: ease-in-out 0.2s ;
}

.dark-mode span {
  font-size: 13px;
  cursor: pointer;
  color: #f5f5f5;
}


/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2.2em;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2a2a;
  transition: 0.4s;
  border-radius: 30px;
  overflow: hidden;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border-radius: 20px;
  left: 0.5em;
  bottom: 0.5em;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
  box-shadow: inset 8px -4px 0px 0px #fff;
}

.switch input:checked + .slider {
  background-color: #00a6ff;
}

.switch input:checked + .slider:before {
  transform: translateX(1.8em);
  box-shadow: inset 15px -4px 0px 15px #ffcf48;
}

.star {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  width: 5px;
  transition: all 0.4s;
  height: 5px;
}

.star_1 {
  left: 2.5em;
  top: 0.5em;
}

.star_2 {
  left: 2.2em;
  top: 1.2em;
}

.star_3 {
  left: 3em;
  top: 0.9em;
}

.switch input:checked ~ .slider .star {
  opacity: 0;
}

.cloud {
  width: 3.5em;
  position: absolute;
  bottom: -1.4em;
  left: -1.1em;
  opacity: 0;
  transition: all 0.4s;
}

.switch input:checked ~ .slider .cloud {
  opacity: 1;
}


/* COPYRIGHT */

.copyright {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--main-padding);
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
}

.copyright p a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}


@media only screen and (max-width: 436px) {
  .wrapper {
    max-width: 90%;
    min-width: 90%;
  }

  .color-palette {
    max-width: 90%;
    min-width: 90%;
  }

  .color-palette .theme-color {
    width: 22px;
    height: 22px;
  }
}

@media only screen and (max-width: 636px) {
  .color-palette {
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 400px;
    margin-bottom: 16px;
  }

  .color-palette .theme-color {
    margin-top: 10px;
  }

  .color-palette .theme-color:not(:last-child) {
    margin-right: 10px;
  }
}

.forecast-details {
  display: flex;
  flex-wrap: wrap;                         
  justify-content: space-around;
  padding: 10px;     
}

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.forecast-card .forecast-day {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 10px;
}

.forecast-card img {
  max-width: 80px;
}

.forecast-card .forecast-temp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.forecast-card .forecast-temp .max-temp,
.forecast-card .forecast-temp .min-temp {
  font-size: 18px;
  font-weight: 500;
  margin: 0 5px;
}

.forecast-card .forecast-desc {
  font-size: 16px;
  text-align: center;
}


.footer{
  margin-top:45pc;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-footer{
display: flex;
  flex-direction: row; /* Berjejer ke samping */
  justify-content: center;
  align-items: center;
  gap: 15px; /* Jarak antar tombol */
  flex-wrap: wrap; 
  margin-top: 20px;
}

.line{
  width: 100%;
  height: 1px;
  background-color: #fff;

}


.button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045);
  position: relative;
  z-index: 0;
  display: flex;
 
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  transition: 0.1s;
}
.button svg {
  color: white;
  width: 30px;
  height: 30px;
  z-index: 9;
}

.button:nth-child(2) {
  background: linear-gradient(120deg, #02ff2c, #008a12);
}


.button:nth-child(3) {
  background: linear-gradient(120deg,#050505, #6e6e6e )
}

.button:active {
  transform: scale(0.85);
}

.button::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  background-color: #212121;
  border-radius: 50px;
  z-index: -1;
  border: 0px solid rgba(255, 255, 255, 0.411);
  transition: 0.4s;
}

.button:hover::before {
  width: 0px;
  height: 0px;
}
